{% extends 'base.html.twig' %}

{% block body %}
<center>
    <h1>Reclamations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Typereclamation</th>
                <th>Textelibre</th>
                <th>Piecejointe</th>
                <th>Reponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                <td>{{ reclamation.user }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.typeReclamation }}</td>
                <td>{{ reclamation.texteLibre }}</td>
                <td>{{ reclamation.pieceJointe }}</td>
                <td>{{ reclamation.reponse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_new') }}">Create a new reclamation</a>
        </li>
    </ul>
</center>
{% endblock %}
